/* progress */
.progress{
  height: 10px;
  border-radius: 999px;
  overflow: hidden;
  background: rgba(255,255,255,.12);
}

.progress__bar{
  height: 100%;
  width: 0%;
  border-radius: 999px;
  background: linear-gradient(90deg, rgba(88,181,242,1), rgba(155,200,255,1));
  transition: width .2s ease;
}
