body{
  margin:0;
  font-family:sans-serif;
  background:linear-gradient(180deg,#1b2b55,#0c1630);
  color:white;
  text-align:center;
  padding:20px;
}

header h1{
  margin:0;
}

.card{
  background:rgba(255,255,255,0.1);
  padding:20px;
  border-radius:15px;
  margin:20px auto;
  max-width:600px;
}

#qNumber{
  font-weight:bold;
  margin-bottom:10px;
}

button{
  display:block;
  margin:10px auto;
  padding:14px;
  width:90%;
  max-width:500px;
  border:none;
  border-radius:12px;
  background:#6c7cff;
  color:white;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#8894ff;
}

.hidden{
  display:none;
}

#result{
  font-size:28px;
  margin-top:20px;
  font-weight:bold;
}
